<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
  </head>
  <body>
    <h2>Hello World!</h2>
    <p>search criteria:</p>
    <div>{{text}}</div>

    <!-- {% for classification in classifications %}
      <div>{{classification}}</div>
    {% endfor %} -->

    <button type="submit" id="accept">Get mood</button>
    <div id="pie-chart-container">
      <canvas id="pie-chartcanvas-1"></canvas>
    </div>
    <!-- {% for result in results %}
      <div>{{result}}</div>
    {% endfor %} -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
    <script src="{{ url_for('static', filename='js/pie.js') }}"></script>
  </body>
</html>
